@model RestoranOtomasyonu.Models.hakkinda

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/YönetimPaneli/Views/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>hakkinda</h4>
    <hr />
    <dl class="row">
        <dt class="col-12 mb-20">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class="col-12 mb-20">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class="col-12 mb-20">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class="col-12 mb-20">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-primary"  asp-action="Index">Back to List</a>
</div>
