@model RestoranOtomasyonu.ViewModels.RezervasyonOlusturViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/YönetimPaneli/Views/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RezervasyonOlusturViewModel</h4>
<hr />
<div class="row">
    <div class="col-12 mb-20">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isim" class="control-label"></label>
                <input asp-for="Isim" class="form-control" />
                <span asp-validation-for="Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyisim" class="control-label"></label>
                <input asp-for="Soyisim" class="form-control" />
                <span asp-validation-for="Soyisim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kisi" class="control-label"></label>
                <input asp-for="Kisi" class="form-control" />
                <span asp-validation-for="Kisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarih" class="control-label"></label>
                <input asp-for="Tarih" class="form-control" />
                <span asp-validation-for="Tarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

